@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot Password";
}
<!-- Login Start -->
<div class="container">
    <section class="login">
        <div class="login_box">
            <div class="main_title">
                <h2 class="title_h2">Forgot Password</h2>
            </div>
            <form class="login_form" method="post">
                <input class="login_input" asp-for="Email" placeholder=" Email" />
                <div><span asp-validation-for="Email" class="text-danger"></span></div>

                <div class="login_button">
                    <button type="submit">Send Link</button>
                </div>
            </form>
        </div>
    </section>
</div>
<!-- Login End -->

