@model Service
@{
    ViewData["Title"] = "Service Delete";
}
<div class="info_box">
    <div style="color: dimgray;">
        <h2>Title: @Model.Title</h2>
        <h3>Description: @Html.Raw(@Model.Description)</h3>
        <h3>Icon className: @Model.Icon</h3>
    </div>

    <div style="display: flex; gap: 15px">
        <a class="btn btn-info" asp-action="Index">Go Back</a>
        <form method="post">
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </div>
</div>
