<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet"
          href=@Html.Raw("https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css") />
    <link rel="stylesheet" href="~/assets/css/style.css" />
    <link rel="shortcut icon"
          href="~/assets/img/logo-regular.png"
          type="image/x-icon" />
</head>
<body>
    @await Component.InvokeAsync("Header")
    @RenderBody()
    @await Component.InvokeAsync("Footer")

    <script src="https://kit.fontawesome.com/da35fc8e81.js"
            crossorigin="anonymous"></script>
    <script src=@Html.Raw("https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js")></script>
    <script src="~/backend/js/backend.js"></script>
    <script src="~/assets/js/main.js"></script>
</body>
</html>


