@model Slider
@{
    ViewData["Title"] = "Slider Delete";
}
<div class="info_box">
    <div style="width:400px; height:auto">
        <img src="~/assets/img/@Model.Image" style="width:100%; max-height: auto" />
    </div>

    <div style="color: dimgray;">
        <h2>Title: @Model.Title</h2>
        <h3>Offer: @Model.Offer</h3>
        <h3>Description: @Html.Raw(@Model.Description)</h3>
    </div>

    <div style="display: flex; gap: 15px">
        <a class="btn btn-info" asp-action="Index">Go Back</a>
        <form method="post">
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </div>
</div>


