@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html,
body,
input,
button {
    font-family: "Oswald", sans-serif;
}

a {
    text-decoration: none;
    color: unset;
}

li {
    list-style: none;
}

.container {
    width: 100%;
    max-width: 1300px;
    padding: 0px 20px;
    margin: 0 auto;
}

::selection {
    background-color: #c89c84;
    color: black;
}

/* Header Start */
.home_header {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 100%;
    position: fixed;
    background: white;
    z-index: 4;
}

.header_nav,
.header_ul {
    display: flex;
    align-items: center;
}

.header_nav {
    justify-content: space-between;
    gap: 10px;
    height: 90px;
}

.header_ul {
    justify-content: center;
    gap: 30px;
}

    .header_ul li:hover {
        color: #c19a83;
        transition: all 0.2s linear;
    }

.header_logo {
    width: 96px;
    height: 52px;
}

    .header_logo img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

.basket_ul {
    font-size: 20px;
    display: flex;
    gap: 15px;
}

    .basket_ul li:hover {
        color: #c19a83;
        transition: all 0.2s linear;
    }

.bars_li {
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 822px) {
    .header_nav,
    .header_ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .header_logo {
        margin-top: 19px;
        margin-bottom: 30px;
    }

    .header_ul {
        display: none;
        top: 90px;
        left: 0;
        right: 0;
        z-index: 2;
        padding: 20px;
        position: fixed;
        width: 100%;
        background-color: rgb(230, 230, 230);
    }

    .basket_ul {
        position: fixed;
        right: 0;
        top: 28px;
        margin-right: 15px;
    }

    .bars_li {
        display: block;
    }
}
/* Header End */

/* Slide Start */
.slide_img {
    height: 100vh;
    width: 100%;
    position: relative;
}

    .slide_img img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

.slide_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0px;
    width: 100%;
    height: 100vh;
    position: absolute;
    margin-top: 50px;
}

    .slide_text h6 {
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 2px;
    }

    .slide_text h1 {
        font-size: 65px;
    }

    .slide_text h4 {
        font-size: 22px;
        font-weight: 500;
    }

.slide_button {
    margin-top: 15px;
    font-size: 15px;
    padding: 15px 0px;
    color: white;
}

    .slide_button a {
        background-color: black;
        padding: 15px 25px;
    }

        .slide_button a:hover {
            background-color: #c19a83;
            transition: all 0.2s linear;
        }

.splide__arrow {
    background: transparent;
}

@media screen and (max-width: 1000px) {
    .slide_img {
        height: 80vh;
    }

    .slide_text {
        height: 80vh;
    }

    .splide__arrow {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .slide_img {
        height: 65vh;
    }

    .slide_text {
        height: 65vh;
    }

        .slide_text h6 {
            font-size: 11px;
        }

        .slide_text h1 {
            font-size: 40px;
        }

        .slide_text h4 {
            font-size: 20px;
        }

    .slide_button {
        font-size: 15px;
    }
}

@media screen and (max-width: 420px) {
    .slide_text h6 {
        font-size: 11px;
    }

    .slide_text h1 {
        font-size: 35px;
    }

    .slide_text h4 {
        font-size: 18px;
    }

    .slide_button {
        font-size: 14px;
    }
}

/* Slide End */

/* Category Start */
.category {
    padding: 75px 0;
}

.main_title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title_h6 {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
    color: #0e0e0e;
}

.title_h2 {
    font-size: 45px;
    text-align: center;
}

.main_title_line {
    margin: 20px 0;
    height: 1px;
    width: 50px;
    background-color: #c19a83;
}

.category_boxes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 5px;
}

.category_box {
    height: 320px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: #f1f3f2;
    padding: 10px;
}

    .category_box:hover {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .category_box img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.category_box_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.88);
    width: 92%;
    margin-bottom: 40px;
    padding: 8px 0;
    text-align: center;
    text-transform: uppercase;
}

    .category_box_text h2 {
        font-size: 14px;
    }

    .category_box_text p {
        font-size: 12px;
        font-weight: 600;
        opacity: 0.5;
    }

@media screen and (max-width: 950px) {
    .category_boxes {
        grid-template-columns: repeat(3, 1fr);
    }

    .category_box {
        height: 270px;
    }

    .title_h2 {
        font-size: 32px;
    }
}

@media screen and (max-width: 580px) {
    .category_boxes {
        grid-template-columns: repeat(2, 1fr);
    }

    .category_box {
        height: 250px;
    }

    .title_h2 {
        font-size: 28px;
    }
}

@media screen and (max-width: 380px) {
    .category_boxes {
        grid-template-columns: repeat(1, 1fr);
    }
}
/* Category End */

/* Product Start */
.products_boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 5px;
}

.product_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #f1f3f2;
    padding: 10px;
}

    .product_box:hover {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

.product_box_img {
    height: 100%;
    width: 100%;
}

    .product_box_img img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }

.product_box_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 20px;
}

    .product_box_text h2 {
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 5px;
    }

    .product_box_text p {
        font-size: 16px;
        font-weight: 700;
        color: rgba(0, 0, 0, 0.61);
    }

@media screen and (max-width: 1100px) {
    .products_boxes {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 900px) {
    .products_boxes {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 780px) {
    .products_boxes {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 550px) {
    .products_boxes {
        grid-template-columns: repeat(1, 1fr);
    }
}
/* Product End */

/* Service Start */
.services_boxes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 5px;
}

.service_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .service_box i {
        color: #c19a83;
        font-size: 32px;
        margin-bottom: 10px;
    }

.service_box_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

    .service_box_text h2 {
        text-transform: capitalize;
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 5px;
    }

    .service_box_text p {
        font-size: 15px;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.61);
    }

@media screen and (max-width: 900px) {
    .services_boxes {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 780px) {
    .services_boxes {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 450px) {
    .services_boxes {
        grid-template-columns: repeat(1, 1fr);
    }
}
/* Service End */

/* Footer Start */
.home_footer {
    background-color: #f1f3f2;
    border-top: 1px solid #e2e2e2;
}

.footer_top {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 5px;
    padding: 50px 0;
}

.footer_box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

    .footer_box h4 {
        font-size: 20px;
        font-weight: 600;
    }

.footer_box_one {
    align-items: flex-start;
}

    .footer_box_one p {
        font-weight: 400;
        color: rgba(0, 0, 0, 0.61);
    }

.footer_social {
    font-size: 20px;
    display: flex;
    gap: 10px;
    color: #3c3c3c;
}

    .footer_social a:hover {
        color: #c19a83;
    }

.footer_box h4,
.footer_logo {
    margin-bottom: 5px;
}

.footer_logo {
    width: 96px;
    height: 52px;
}

.footer_ul,
.footer_contaxt {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    color: #3c3c3c;
    text-align: center;
}

    .footer_ul li:hover {
        color: #c19a83;
    }

@media screen and (max-width: 800px) {
    .footer_top {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer_box_one {
        align-items: center;
        text-align: center;
    }
}

@media screen and (max-width: 450px) {
    .footer_top {
        grid-template-columns: repeat(1, 1fr);
    }
}

.footer_bottom {
    border-top: 1px solid #e2e2e2;
}

.footer_bottom_text {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.61);
}

    .footer_bottom_text p {
        cursor: none;
    }

    .footer_bottom_text span {
        color: #c19a83;
        white-space: nowrap;
    }
/* Footer End */

/* AboutUs Start */
.about {
    min-height: 450px;
    padding-top: 140px;
    padding-bottom: 60px;
}

.about_bg {
    width: 100%;
    height: 80vh;
}

    .about_bg img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
    }

.about_text {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .about_text p {
        margin-top: 5px;
        text-align: center;
        color: #7b7b7b;
        font-size: 22px;
        font-weight: 400;
        line-height: 1.8;
    }

    .about_text h2 {
        text-align: center;
        font-size: 36px;
        font-weight: 500;
    }

@media screen and (max-width: 950px) {
    .about_text p {
        font-size: 20px;
    }

    .about_text h2 {
        font-size: 32px;
    }

    .about_bg {
        height: 65vh;
    }
}

@media screen and (max-width: 580px) {
    .about_text p {
        font-size: 18px;
    }

    .about_text h2 {
        font-size: 28px;
    }

    .about_bg {
        height: 55vh;
    }
}
/* AboutUs End */

/* Contact Start */
.contact {
    padding-top: 140px;
    padding-bottom: 60px;
}

.contact_boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    gap: 20px;
}

.contact_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 40px;
    border-radius: 20px;
    gap: 5px;
    text-align: center;
}

    .contact_box i {
        color: #c19a83;
        font-size: 45px;
    }

    .contact_box h4 {
        font-size: 24px;
    }

    .contact_box p {
        color: #686868;
        font-size: 16px;
    }

@media screen and (max-width: 770px) {
    .contact_boxes {
        grid-template-columns: repeat(1, 1fr);
    }

    .contact_box i {
        font-size: 38px;
    }

    .contact_box h4 {
        font-size: 20px;
    }

    .contact_box p {
        font-size: 15px;
    }
}

.contact_location {
    display: flex;
}
/* Contact End */

/* Login Start */
.login {
    padding-top: 140px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_box {
    width: 600px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 40px;
    border-radius: 20px;
}

.login_form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
    text-align: center;
}

.login_input, .select_date {
    padding: 14px 12px;
    font-size: 18px;
    outline: none;
    border: 1px solid rgb(227, 227, 227);
    font-family: "Oswald", sans-serif;
}

    .login_input::placeholder, .select_date::placeholder {
        color: gray;
    }

.login_checkbox {
    display: flex;
    align-items: center;
    gap: 5px;
}

    .login_checkbox label {
        color: rgb(93, 93, 93);
        font-weight: 500;
        font-size: 15px;
    }

    .login_checkbox input {
        accent-color: #c19a83;
        width: 18px;
        height: 18px;
    }

.login_link {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    color: #c19a83;
}

    .login_link a:hover {
        color: #a07f6c;
    }

.login_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

    .login_button button {
        cursor: pointer;
        font-size: 16px;
        padding: 15px 25px;
        width: 100%;
        border: none;
        outline: none;
        background-color: black;
        color: white;
        text-transform: uppercase;
    }

        .login_button button:hover {
            background-color: #c89c84;
            transition: all 0.2s linear;
        }

@media screen and (max-width: 950px) {
    .login_form {
        margin-top: 30px;
    }
}

@media screen and (max-width: 660px) {
    .login_box {
        width: 100%;
    }
}

@media screen and (max-width: 580px) {
    .login_form {
        margin-top: 20px;
    }

    .login_input {
        font-size: 16px;
    }

    .login_button button {
        font-size: 15px;
    }
}
/* Login End */

/* Cart Start */
.cart_title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 140px;
}

.cart {
    min-height: 400px;
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "one one two";
    gap: 25px;
}

.product_table {
    border-collapse: collapse;
    border: 1px solid #dddddd;
    width: 100%;
}

.cart_product {
    grid-area: one;
}

th,
td {
    padding: 11px 15px;
    text-align: left;
    font-size: 15px;
}

th {
    color: rgb(67, 67, 67);
    background-color: #f1f1f1;
}

td {
    font-weight: 400;
    background-color: rgb(255, 255, 255);
    color: rgb(83, 83, 83);
}

.product_name {
    font-weight: 500;
    color: #c19a83;
}

.product_img {
    width: 70px;
    height: 85px;
}

    .product_img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.product_head {
    display: none;
}

.product_tr {
    border-bottom: 1px solid #dddddd;
}

.product_count {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid #dddddd;
    height: 35px;
    gap: 5px;
}

.fa-xmark {
    border: 1px solid rgb(160, 160, 160);
    color: rgb(160, 160, 160);
    padding: 6px 8px;
    border-radius: 50%;
}

    .fa-xmark:hover {
        border: 1px solid rgb(255, 75, 75);
        color: white;
        background-color: rgb(255, 75, 75);
        transition: all 0.2s linear;
    }

.count_box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.count_min,
.count_plus {
    font-size: 22px;
    min-width: 24px;
    font-weight: 400;
    cursor: pointer;
    user-select: none;
}

    .count_min:hover,
    .count_plus:hover {
        background-color: #c89c84;
        color: white;
        transition: all 0.2s linear;
    }

.count_value {
    min-width: 22px;
}

.count_min {
    border-right: 1px solid #dddddd;
}

.count_plus {
    border-left: 1px solid #dddddd;
}

@media screen and (max-width: 920px) {
    .product_name {
        text-align: right;
    }

    .product_head {
        display: block;
        color: rgb(67, 67, 67);
        font-weight: 500;
    }

    tr {
        display: flex;
        flex-direction: column;
    }

    .product_thead {
        display: none;
        text-align: left;
    }

    .cart {
        display: flex;
        flex-direction: column;
    }

    td {
        border-bottom: 1px solid #dddddd;
        display: flex;
        gap: 10px;
        justify-content: space-between;
        align-items: center;
    }

    .product_img_td {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .product_tr {
        border-bottom: none;
        position: relative;
        width: 100%;
    }

    .product_del {
        position: absolute;
        border: none;
        right: 0;
    }
}

.cart_total {
    border: 1px solid #dddddd;
    height: 200px;
}

.cart_total_title {
    text-align: center;
    color: rgb(31, 31, 31);
    background-color: #f1f1f1;
}

    .cart_total_title h2 {
        font-weight: 500;
    }

.cart_total_price {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    color: #3c3c3c;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e1e1e1;
}

.cart_total_text {
    padding: 25px;
}

.cart_total_button a {
    display: block;
    font-size: 16px;
    padding: 15px 25px;
    width: 100%;
    background-color: black;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

    .cart_total_button a:hover {
        background-color: #c89c84;
        transition: all 0.2s linear;
    }
/* Cart End */

/* Shop Start */
.shop {
    display: flex;
    gap: 20px;
    padding-bottom: 60px;
}

.category_list {
    border: 1px solid #dddddd;
    min-width: 180px;
    margin-top: 5px;
}

.category_list_top {
    padding: 6px 10px;
    text-align: center;
    color: rgb(31, 31, 31);
    background-color: #f1f1f1;
}

    .category_list_top h2 {
        font-weight: 500;
    }

.category_list_bottom {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 15px 20px;
}

    .category_list_bottom p {
        text-transform: capitalize;
        font-size: 18px;
        white-space: nowrap;
    }

        .category_list_bottom p a:hover {
            color: #c89c84;
        }

            .category_list_bottom p a:hover .category_span {
                color: rgb(31, 31, 31);
            }

        .category_list_bottom p span {
            color: #c89c84;
            font-weight: 500;
            font-size: 14px;
        }

@media screen and (max-width: 440px) {
    .shop {
        flex-direction: column;
    }
}
/* Shop End */

/* Detail Start */
.detail {
    padding-top: 140px;
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.detail_img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.detail_img {
    height: 80vh;
}

.detail_text {
    display: flex;
    flex-direction: column;
}

.detail_count {
    max-width: 150px;
}

.detail_text h2 {
    font-weight: 500;
    font-size: 26px;
    margin-bottom: 5px;
}

.detail_text h4 {
    font-weight: 600;
    font-size: 24px;
    color: #c89c84;
    margin-bottom: 5px;
}

.product_count_box {
    display: flex;
    font-weight: 600;
    font-size: 24px;
    color: #c89c84;
    margin-bottom: 5px;
}

.detail_text h5 {
    font-weight: 400;
    font-size: 18px;
    color: #888888;
    margin-bottom: 15px;
}

.detail_form button {
    border: none;
    cursor: pointer;
    white-space: nowrap;
    padding: 10px 20px;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    background-color: black;
}

    .detail_form button:hover {
        background-color: #a07f6c;
    }

.detail_count {
    margin-bottom: 15px;
}

.detail_form {
    margin-bottom: 10px;
}

.detail_p {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    font-size: 18px;
    font-weight: 500;
}

    .detail_p a {
        color: #c19a83;
        font-weight: 400;
    }

        .detail_p a:hover {
            color: #a07f6c;
        }

@media screen and (max-width: 1000px) {
    .detail_img {
        height: 60vh;
    }

    .detail {
        gap: 40px;
    }
}

@media screen and (max-width: 750px) {
    .detail {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

@media screen and (max-width: 500px) {
    .detail_img {
        height: 40vh;
    }
}

.search {
    position: fixed;
    height: 90px;
    z-index: 7;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    opacity: 0.9;
    display: none;
    justify-content: center;
    align-items: center;
}

    .search input {
        height: 100%;
        margin: 30px;
        color: white;
        background-color: black;
        opacity: 0.9;
        font-size: 28px;
        border: none;
        outline: none;
        width: 100%;
    }

        .search input::placeholder {
            color: white;
        }

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    background-size: contain;
    opacity: 0;
    pointer-events: none;
}
/* Detail End */

/* Buy Start */
.buy {
    min-height: 400px;
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "one one two";
    gap: 25px;
}

.buy_product {
    grid-area: one;
}

.cart_total_button button {
    display: block;
    font-size: 16px;
    padding: 15px 25px;
    width: 100%;
    background-color: black;
    color: white;
    text-transform: uppercase;
    outline: none;
    border: none;
    text-align: center;
    cursor: pointer;
}

    .cart_total_button button:hover {
        background-color: #c89c84;
        transition: all 0.2s linear;
    }

.buy_product {
    border: 1px solid #dddddd;
}

.buy_user {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

    .buy_user h4 {
        font-size: 24px;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        color: #3c3c3c;
        font-weight: 600;
    }

    .buy_user span {
        font-weight: 400;
        font-size: 22px;
        color: #a07f6c;
    }

.buy_form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
}

    .buy_form input {
        padding: 12px 10px;
    }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

@media screen and (max-width: 800px) {
    .buy {
        display: flex;
        flex-direction: column;
        gap: 43px;
    }
}

@media screen and (max-width: 600px) {
    .buy_user h4 {
        font-size: 22px;
    }

    .buy_user span {
        font-size: 20px;
    }
}

@media screen and (max-width: 450px) {
    .buy_user h4 {
        font-size: 16px;
    }

    .buy_user span {
        font-size: 14px;
    }
}
/* Buy End */

/* CreditCard Start */
.credit_cart {
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.bg_color_card {
    background-color: #a07f6c;
}

.login_form label {
    text-align: start;
    font-size: 18px;
    font-weight: 500;
}

.login_box {
    background: white;
}

.buy_button button:hover {
    background-color: rgb(35, 35, 35);
}

.card_date {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 50%;
}

.card_date_box {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

@media screen and (max-width: 550px) {
    .card_date_box {
        flex-direction: column;
    }

    .card_date {
        width: 100%
    }
}
/* CreditCard End */

.display_flex {
    display: flex;
}

.display_none {
    display: none;
}

.text-danger {
    font-size: 18px;
    font-weight: 400;
    color: red;
}

.user_name {
    color: #FF005C;
    text-transform: uppercase;
    cursor: none;
}

.hd_color {
    color: #c19a83;
}

.fa-magnifying-glass {
    cursor: pointer;
}

.cart_empty {
    margin-top: -80px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty_h2 {
    font-size: 60px;
    text-align: center;
}

.basket_count {
    font-family: "Oswald", sans-serif;
    font-size: 10px;
    font-weight: 400;
    background: black;
    padding: 5px;
    border-radius: 50%;
    color: white;
    position: absolute;
    bottom: -15px;
    right: -8px;
    aspect-ratio: 1/1;
    border: 2px solid white;
}

.fa-basket-shopping {
    position: relative;
}

.credit_cart_total {
    display: flex;
    gap: 10px;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: space-between;
}

    .credit_cart_total p {
        font-weight: 500;
    }

.card_month_year {
    display: flex;
    gap: 15px;
}

.card_date_box {
    display: flex;
}

.select_date {
    width: 100%;
    color: gray;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
