@model AddressViewModel
@{
    ViewData["Title"] = "Buy";
}
<!-- Buy Start -->
<div class="container">
    <div class="cart_title">
        <h2 class="title_h2">Checkout</h2>
        <div class="main_title_line"></div>
    </div>
    <section class="buy">
        <div class="buy_product">
            <div class="cart_total_title"><h2>Customer information</h2></div>
            <div class="buy_user">
                <h4>Username: <span>@ViewBag.User.UserName</span></h4>
                <h4>Email: <span>@ViewBag.User.Email</span></h4>
                <h4>Phone: <span>@ViewBag.User.PhoneNumber</span></h4>
                <h4>Full name: <span>@ViewBag.User.Fullname</span></h4>
                <form class="buy_form" method="post">
                    <input class="login_input"
                           asp-for="City"
                           placeholder="City"
                           autocomplete="address-level2" />
                    <input class="login_input"
                           asp-for="Address"
                           placeholder="Address"
                           autocomplete="address-line1" />
                    <input class="login_input"
                           asp-for="Postcode"
                           placeholder="Postcode"
                           autocomplete="postal-code" />
                    <input class="login_input"
                           asp-for="Home"
                           placeholder="Home"
                           autocomplete="address-line2" />
                </form>
            </div>
        </div>
        <div class="cart_total">
            <div class="cart_total_title"><h2>Your Order</h2></div>
            <div class="cart_total_text">
                <div class="cart_total_price">
                    <p>Total</p>
                    <p>$@TempData["TotalPrice"]</p>
                </div>
                <form class="cart_total_button" method="post">
                    <button type="submit">Buy</button>
                </form>
            </div>
        </div>
    </section>
</div>
<!-- Buy End -->
