@model CartViewModel
@{
    ViewData["Title"] = "Credit Card";
}

<div class="bg_color_card">
    <div class="container">
        <section class="credit_cart">
            <div class="login_box">
                <div class="main_title">
                    <h2 class="title_h2">Card</h2>
                </div>
                <form class="login_form" method="post">
                    <div class="credit_cart_total">
                        <label for="#">Card number</label>
                        <p>Total: $@TempData["TotalPrice"]</p>
                    </div>

                    <input class="login_input number_cards"
                           asp-for="CardNumber" maxlength="16"
                           placeholder="Card Number" />
                    <div><span asp-validation-for="CardNumber" class="text-danger"></span></div>


                    <div class="card_date_box">
                        <div class="card_date">
                            <label for="#">Expiration date</label>
                            <div class="card_month_year">
                                <div>
                                    <select name="Year" id="Year" class="select_date">
                                        <option disabled="disabled" value="" selected="selected">YYYY</option>
                                        <option value="2023">2023</option>
                                        <option value="2024">2024</option>
                                        <option value="2025">2025</option>
                                        <option value="2026">2026</option>
                                        <option value="2027">2027</option>
                                        <option value="2028">2028</option>
                                        <option value="2029">2029</option>
                                        <option value="2030">2030</option>
                                        <option value="2031">2031</option>
                                        <option value="2032">2032</option>
                                        <option value="2033">2033</option>
                                        <option value="2034">2034</option>
                                        <option value="2035">2035</option>
                                        <option value="2036">2036</option>
                                        <option value="2037">2037</option>
                                        <option value="2038">2038</option>
                                        <option value="2039">2039</option>
                                        <option value="2040">2040</option>
                                        <option value="2041">2041</option>
                                        <option value="2042">2042</option>
                                        <option value="2043">2043</option>
                                        <option value="2044">2044</option>
                                        <option value="2045">2045</option>
                                        <option value="2046">2046</option>
                                        <option value="2047">2047</option>
                                        <option value="2048">2048</option>
                                        <option value="2049">2049</option>
                                        <option value="2050">2050</option>
                                        <option value="2051">2051</option>
                                        <option value="2052">2052</option>
                                        <option value="2053">2053</option>
                                        <option value="2054">2054</option>
                                        <option value="2055">2055</option>
                                        <option value="2056">2056</option>
                                        <option value="2057">2057</option>
                                        <option value="2058">2058</option>
                                        <option value="2059">2059</option>
                                        <option value="2060">2060</option>
                                    </select>
                                    <div>
                                        <span asp-validation-for="Year" class="text-danger"></span>
                                    </div>
                                </div>

                                <div>
                                    <select name="Month" id="Month" class="select_date">
                                        <option disabled="disabled" value="" selected="selected">MM</option>
                                        <option value="1">01</option>
                                        <option value="2">02</option>
                                        <option value="3">03</option>
                                        <option value="4">04</option>
                                        <option value="5">05</option>
                                        <option value="6">06</option>
                                        <option value="7">07</option>
                                        <option value="8">08</option>
                                        <option value="9">09</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select>
                                    <div>
                                        <span asp-validation-for="Month" class="text-danger"></span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="card_date">
                            <label for="#">CVV</label>
                            <input class="login_input number_cards" asp-for="Cvv" maxlength="3" placeholder="CVV" />
                            <div><span asp-validation-for="Cvv" class="text-danger"></span></div>
                        </div>
                    </div>

                    <div class="login_button buy_button">
                        <button type="submit">Buy</button>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>
<script src="~/assets/js/card_number.js"></script>