
@{
    ViewData["Title"] = "Empty";
}
<!-- Cart Start -->
<div class="container">
    <div class="cart_title">
        <h2 class="title_h2">Cart</h2>
        <div class="main_title_line"></div>
    </div>
    <div class="cart_empty">
        <h2 class="empty_h2 hd_color">Empty</h2>
    </div>
</div>
<!-- Cart End -->
<script src="~/assets/js/prod_price.js"></script>

