@model List<Contact>
@{
    ViewData["Title"] = "Contact";
}
<!-- Contact Start -->
<div class="container">
    <section class="contact">
        <div class="main_title">
            <h6 class="title_h6">Don't be a stranger</h6>
            <h2 class="title_h2">Contact Us</h2>
            <div class="main_title_line"></div>
        </div>
        <div class="contact_boxes">
            @foreach (var contact in Model)
            {
                <div class="contact_box">
                    <i class="@contact.Icon"></i>
                    <h4>@contact.Title</h4>
                    <p>@Html.Raw(@contact.Description)</p>
                </div>
            }

        </div>
    </section>
</div>
<div class="contact_location">
    <iframe src="@*@ViewBag.Settings["ContactMapLink"]*@"
            width="100%"
            height="480px"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<!-- Contact End -->
