@model List<Slider>
@{
    ViewData["Title"] = "Home";
}
<!-- Slide Start -->
<section class="slide">
    <div class="splide">
        <div class="splide__track">
            <div class="splide__list">
                @foreach (var slider in Model)
                {
                    <div class="splide__slide">
                        <div class="slide_img">
                            <img src="~/assets/img/@slider.Image" alt="" />
                            <div class="container">
                                <div class="slide_text">
                                    <h6>@slider.Title</h6>
                                    <h1>@slider.Offer</h1>
                                    <h4>@Html.Raw(@slider.Description)</h4>
                                    <div class="slide_button">
                                        <a asp-action="Index" asp-controller="Shop">SHOP NOW</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!-- Slide End -->
<!-- Category Start -->
<div class="container">
    <section class="category">
        <div class="main_title">
            <h6 class="title_h6">Shop by category</h6>
            <h2 class="title_h2">Shop by category</h2>
            <div class="main_title_line"></div>
        </div>
        <div class="category_boxes">
            <a href="#">
                <div class="category_box">
                    <img src="~/assets/img/cat-1-300x300.jpg" alt="category" />
                    <div class="category_box_text">
                        <h2>Bedroom</h2>
                        <p>6 Products</p>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="category_box">
                    <img src="~/assets/img/cat-4-300x300.jpg" alt="category" />
                    <div class="category_box_text">
                        <h2>Decor</h2>
                        <p>6 Products</p>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="category_box">
                    <img src="~/assets/img/cat-3-300x300.jpg" alt="category" />
                    <div class="category_box_text">
                        <h2>Living Room</h2>
                        <p>6 Products</p>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="category_box">
                    <img src="~/assets/img/cat-2-300x300.jpg" alt="category" />
                    <div class="category_box_text">
                        <h2>Office</h2>
                        <p>11 Products</p>
                    </div>
                </div>
            </a>
        </div>
    </section>
</div>
<!-- Category End -->
<!-- Product Start -->
<div class="container">
    <section class="category">
        <div class="main_title">
            <h6 class="title_h6">Best products</h6>
            <h2 class="title_h2">Featured products</h2>
            <div class="main_title_line"></div>
        </div>
        <div class="products_boxes">
            <a href="./html/product_detail.html">
                <div class="product_box">
                    <div class="product_box_img">
                        <img src="~/assets/img/product-01-a-400x488.jpg" alt="product" />
                    </div>
                    <div class="product_box_text">
                        <h2>Product name 1</h2>
                        <p>$85.00</p>
                    </div>
                </div>
            </a>
            <a href="./html/product_detail.html">
                <div class="product_box">
                    <div class="product_box_img">
                        <img src="~/assets/img/product-06-a-400x488.jpg" alt="product" />
                    </div>
                    <div class="product_box_text">
                        <h2>Product name 2</h2>
                        <p>$85.00</p>
                    </div>
                </div>
            </a>
            <a href="./html/product_detail.html">
                <div class="product_box">
                    <div class="product_box_img">
                        <img src="~/assets/img/product-09-a-400x488.jpg" alt="product" />
                    </div>
                    <div class="product_box_text">
                        <h2>Product name 3</h2>
                        <p>$85.00</p>
                    </div>
                </div>
            </a>
            <a href="./html/product_detail.html">
                <div class="product_box">
                    <div class="product_box_img">
                        <img src="~/assets/img/product-14-a-400x488.jpg" alt="product" />
                    </div>
                    <div class="product_box_text">
                        <h2>Product name 4</h2>
                        <p>$85.00</p>
                    </div>
                </div>
            </a>
            <a href="./html/product_detail.html">
                <div class="product_box">
                    <div class="product_box_img">
                        <img src="~/assets/img/product-15-a-400x488.jpg" alt="product" />
                    </div>
                    <div class="product_box_text">
                        <h2>Product name 5</h2>
                        <p>$85.00</p>
                    </div>
                </div>
            </a>
            <a href="./html/product_detail.html">
                <div class="product_box">
                    <div class="product_box_img">
                        <img src="~/assets/img/product-16-a-400x488.jpg" alt="product" />
                    </div>
                    <div class="product_box_text">
                        <h2>Product name 6</h2>
                        <p>$85.00</p>
                    </div>
                </div>
            </a>
        </div>
    </section>
</div>
<!-- Product End -->
<!-- Service Start -->
<div class="container">
    <section class="category">
        <div class="main_title">
            <h6 class="title_h6">Our Services</h6>
            <h2 class="title_h2">Why choose us</h2>
            <div class="main_title_line"></div>
        </div>
        <div class="services_boxes">
            <div class="service_box">
                <i class="fa-solid fa-truck-fast"></i>
                <div class="service_box_text">
                    <h2>Fast Delivery</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
                        tellus, luctus nec.
                    </p>
                </div>
            </div>

            <div class="service_box">
                <i class="fa-regular fa-credit-card"></i>
                <div class="service_box_text">
                    <h2>Free Shipping</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
                        tellus, luctus nec.
                    </p>
                </div>
            </div>

            <div class="service_box">
                <i class="fa-solid fa-shield-halved"></i>
                <div class="service_box_text">
                    <h2>Secure Checkout</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
                        tellus, luctus nec.
                    </p>
                </div>
            </div>

            <div class="service_box">
                <i class="fa-solid fa-cart-arrow-down"></i>
                <div class="service_box_text">
                    <h2>Easy Returns</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
                        tellus, luctus nec.
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- Service End -->